
        @import url('https://fonts.googleapis.com/css?family=Roboto:300,500');
        
        .normal {
            font-family: 'Roboto', sans-serif;
            font-weight: 300;
        }
        .heading1 {
            font-weight: 500;
            font-size: 80px;
            margin: 0;
        }
        .title .heading1 {
            font-weight: 500;
            font-size: 110px;
            margin: 0;
            letter-spacing: -10px;
            word-spacing: -10px;
            font-variant: small-caps;
        }
    
        .body-initial {
            background-color: rgb(0, 0, 0); 
            background-image: url('../assets/background_abstract.jpg'); 
            background-attachment: fixed; 
            background-size: cover; 
        }
        .background-initial {
            background-color: transparent; 
            top: 5px; 
            left: 5px; 
            width: 1200px; 
            height: 1689.33px; 
        }
        .silex-id-1443096520502-0 {
            height: 643px; 
            width: 536px; 
            top: 49px; 
            left: 0px; 
            background-color: transparent; 
        }
        .silex-id-1443096526068-1 {
            height: 125px; 
            width: 870px; 
            top: -53px; 
            left: -8px; 
        }
        .silex-id-1443097673872-2 {
            height: 399px; 
            width: 205px; 
            top: 62px; 
            left: 0px; 
            background-color: rgb(255, 255, 255); 
            border-top-left-radius: 0px; 
            border-top-right-radius: 0px; 
            border-bottom-right-radius: 40px; 
            border-bottom-left-radius: 0px; 
        }
        .silex-id-1443098053444-4 {
            height: 370px; 
            width: 173px; 
            top: 15px; 
            left: 15px; 
        }
        .silex-id-1443097854130-3 {
            height: 568px; 
            width: 287px; 
            top: 62px; 
            left: 226px; 
            background-color: rgb(255, 255, 255); 
            border-top-left-radius: 0px; 
            border-top-right-radius: 0px; 
            border-bottom-right-radius: 40px; 
            border-bottom-left-radius: 0px; 
        }
        .silex-id-1443098073224-5 {
            height: 323px; 
            width: 255px; 
            top: 241px; 
            left: 15px; 
        }
        .silex-id-1443098677691-6 {
            height: 204px; 
            width: 255px; 
            top: 15px; 
            left: 15px; 
        }
        .silex-id-1443099577519-7 {
            height: 1575.33px; 
            width: 663px; 
            top: 111px; 
            left: 537px; 
            background-color: rgb(255, 255, 255); 
        }
        .silex-id-1443099670902-8 {
            height: 1534.33px; 
            width: 632px; 
            top: 27px; 
            left: 15px; 
        }
        .silex-id-1442914589168-2 {
            height: 229px; 
            width: 1200px; 
            top: 1724px; 
            left: 105px; 
            background-color: transparent; 
        }
        .silex-id-1442914737143-3 {
            height: 71px; 
            width: 1200px; 
            top: 93px; 
            left: 0px; 
        }
    